.ai-tools {
    border-radius: 160px;
}

.item {
    position: relative;
    .item-menu {
        position: absolute;
        z-index: 10;
    }
}

.item-list {
    gap: 8px;
    a:hover{
    background: $light-gray; 
    color: $black;
    font-weight: $font-weight-bold;
    }
    
}

.search {
    position: relative;
    .material-icons {
        color: $gray;
        position: absolute;
        top: 20px;
        left: 43px;
    }
}


.ai-tool-card {
    height: 100%;
    border-radius: 16px;
    img:hover {
        transform: scale(1.2);
        transition: transform 0.5s;
    }
    .card-info {
        color: $dark-gray; // Project variable
        font-size: $font-size-sm; // BS variable
    }
    .card-contant {
        border-top: 1px solid $light-gray; // Project variable
    }
}

.pagination {
    gap: 4px;
    .page {
        font-size: $font-size-sm;
        line-height: 1;
        padding: 17px;
        border-radius: 16px;
        &:hover{
            background: $light-gray;
        }
        &.active {
            cursor: default;
            background: $black;
            color: $white;
            &:hover{
                opacity: 1;
            }
        }
        .material-icons {
            font-size: $font-size-sm;
        }
    }
}



@media (max-width: 991px) {
    .ai-tools {
        border-radius: 20px;
    }
    .item {
        order: 1;
    }
    .item-list {
        order: 2;
    }
}