$dark-gray: #525252;
$gray: #919191;
$light-gray: #F2F2F2;

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: 'Noto Sans TC';
}

a {
    display: block;
    color: inherit;
    &:hover {
        opacity: 0.8;
    }
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
